# Server Configuration
APP_NAME=Autogen-rust-service
DEFAULT_OTEL_ENDPOINT=http://otel-collector:4318/v1
DEFAULT_HOST=127.0.0.1
DEFAULT_PORT=4100

# LLM Configuration
LITELLM_API_KEY=your_api_key_here
LITELLM_BASE_URL=http://litellm:4000

# Tool Configuration
R2R_URL=http://r2r:7272
R2R_USER=your_r2r_user
R2R_PWD=your_r2r_pwd

JIRA_INSTANCE_URL=https://your-site.atlassian.net
JIRA_USERNAME=your_email
JIRA_API_TOKEN=your_token
JIRA_CLOUD=true
