# Main packages
fastapi==0.111.0
pyautogen[retrievechat,long-context]==0.2.29

# OpenTelemetry packages
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp


